{% extends "base.html" %}
{% block main %}
<main class="d-flex align-items-center justify-content-center">
    <h1>HELLO WORLD</h1>
    <form method="post" action="login" class="border p-4 rounded">
        <div class="input-group mb-3">
            <input type="text" name="email" class="form-control" placeholder="Email">
            <span class="input-group-text">@odysseylogistics.com</span>
        </div>
        <input type="password" name="password" class="form-control" placeholder="password" id="exampleInputPassword1">
        <button type="submit" class="btn btn-outline-success mt-3 mx-auto d-block">Login</button>
        {% for msg in get_flashed_messages() %}
        <p class="alert alert-danger my-2 text-center">{{msg}}</p>
        {% endfor %}
    </form>
</main>
{% endblock %}