{% extends "base.html" %}
{% block nav %}
<a href="/" class="navbar-brand h1 mx-5">Terminal Archive</a>
<a href="/settings" class="navbar-text">Welcome, {{logged_user.email}}</a>
<a href="/logout" class="btn btn-outline-danger mx-5">Logout</a>
{% endblock %}
{% block main %}
<main class="d-flex col-10 mx-auto flex-column align-items-center justify-content-center">
    <div id="actions" class="mb-3 d-flex gap-4">
        <button class="btn btn-outline-danger">Fetch Current Data</button>
        <a href="{{url_for('static', filename='output.xlsx')}}" target="_blank" class="btn btn-outline-info">Download as Excel</a>
    </div>
    <form action="filter" method="post" class="row row-cols-lg-auto g-3 align-items-center justify-content-center">
        <div class="col">
            <select name="terminal_id" class="selectpicker border" multiple title="Terminals" data-actions-box="true">
                {% for terminal in terminals %}
                <option value="{{terminal.id}}">{{terminal.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select name="ssl_id" class="selectpicker border" multiple title="SSL's" data-actions-box="true">
                {% for ssl in ssls %}
                <option value="{{ssl.id}}">{{ssl.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select name="container_id" class="selectpicker border" multiple title="Container Sizes" data-actions-box="true">
                {% for container in containers %}
                <option value="{{container.id}}">{{container.size}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select name="type" class="selectpicker border" multiple title="Availability" data-actions-box="true">
                <option value="pick">Picks</option>
                <option value="drop">Drops</option>
            </select>
        </div>
        <div class="col d-flex gap-1 align-items-center">
            <input name="start_date" class="form-control" type="datetime-local">
            <span>to</span>
            <input name="end_date" class="form-control" type="datetime-local">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </form>
    <table class="table table-hover table-bordered mt-3 w-75">
        <thead>
            <tr>
                <th>Terminal</th>
                <th>SSL</th>
                <th>Container Size</th>
                <th>Available During</th>
                <th>Available For</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</main>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/search.js')}}"></script>
{% endblock %}